@tailwind base;
@tailwind components;
@tailwind utilities;

.container{
    padding-left : 0%;
    padding-right : 0%
}

body {
    overflow-x: hidden;
}

.invert{
    filter: brightness(0) invert(1);
}

.gradiant-radial{
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(33,33,30,1) 43%);
}

@font-face {
    font-family: 'Ultra-light';
    src: url('.\assets\FontsFree-Net-SFProDisplay-Light.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Light';
    src: url('.\assets\FontsFree-Net-SFProDisplay-Light.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Regular';
    src: url('.\assets\SFPRODISPLAYREGULAR.OTF') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Medium';
    src: url('.\assets\SFPRODISPLAYMEDIUM.OTF') format('opentype');
    font-weight: normal;
    font-style: normal;
}



.Light{
    font-family: 'Light';
    letter-spacing: 0.75px;
}

.Regular{
    font-family: 'Regular'
}

.Medium{
    font-family: 'Medium'
}

